<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VPS库存监控</title>
    <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdn.bootcss.com/bootstrap-table/1.11.1/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>
</head>
<body>


    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="inline-block"> <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star"></span> VPS库存监控系统 <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star"></span></h1>

                <span>实时把握库存信息</span>{notempty name="tgchannel"}<a href="{$tgchannel}" target="_blank">Telegram 整站订阅 关注这里</a>{/notempty}


            </div>

        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
				<div id="toolbar" class="btn-group">
					<a class="btn btn-success btn-sm" aria-hidden="true" href="/index/index/edit"> <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>    添加监控</a>
					{if condition="$islogin"}
					<a onclick="useredit()" class="btn btn-info btn-sm" role="button"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span>    个人信息</a>
					<a onclick="loginout()" class="btn btn-warning btn-sm" role="button"> <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>    退出登录</a>
					{else/}
					<a onclick="useredit()" class="btn btn-info btn-sm" role="button"> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>    注册用户</a>
					<a onclick="loginshow()" class="btn btn-primary btn-sm" role="button"> <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>    账户登录</a>
					{/if}
				</div>
                <table id="table"
                    data-toolbar="#toolbar"
                    data-search="true"
                    data-show-refresh="true"
                    data-show-toggle="true"
                    data-show-columns="true"
                    data-show-export="true"
                    data-detail-view="false"
                    data-detail-formatter="detailFormatter"
                    data-minimum-count-columns="2"
                    data-show-pagination-switch="true"
                    data-pagination="true"
                    data-id-field="id"
                    data-page-list="[10, 25, 50, 100, ALL]"
                    data-show-footer="false"
                    data-side-pagination="client"
                    data-url="{:url('index/index/getList?')}"
                    data-filter-control="true"
                    data-filter-show-clear="true"
                    class="table table-striped table-condensed"
                >
                    <thead>
                        <tr>
                            {if condition="$islogin"}<th data-width="50" data-formatter="subscribe" data-events="subscribeevent">订阅</th>{/if}
                            <th data-width="50" data-field="companyname" data-formatter="company" data-filter-control="select">服务商</th>
                            <th data-width="50" data-field="name" >套餐名</th>
                            <th data-width="50" data-field="frame"  data-sortable="true">虚拟化</th>
                            <th data-width="50" data-field="ram" data-sortable="true">内存</th>
                            <th data-width="50" data-field="disk" data-sortable="true">硬盘</th>
                            <th data-width="50" data-field="cpu" data-sortable="true">CPU</th>
                            <th data-width="50" data-field="ip4" data-sortable="true">IPv4</th>
                            <th data-width="50" data-field="ip6" data-sortable="true">IPv6</th>
                            <th data-width="50" data-field="placename" data-filter-control="select">地理位置</th>
                            <th data-width="50" data-field="flow" data-sortable="true">流量</th>
                            <th data-width="50" data-field="bandwidth" data-sortable="true" data-formatter="bandwidth">带宽</th>
                            <th data-width="50" data-field="route" data-filter-control="select">机房线路</th>
                            <th data-width="50" data-field="yearly" data-sortable="true">年付</th>
                            <th data-width="50" data-field="monthly" data-sortable="true">月付</th>
                            <th data-width="50" data-field="stock" data-sortable="true" data-formatter="stock" data-filter-control="select">库存状态</th>
                            <th data-width="50" data-field="remark" data-sortable="true" data-filter-control="input">备注</th>
                            <th data-width="50" data-formatter="ceping" >介绍&测评</th>
                            <th data-width="50" data-formatter="buy">购买</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="text-center">本站基于开源项目 <a href="https://github.com/546669204/vps-inventory-monitoring">vps-inventory-monitoring</a> <i class="glyphicon glyphicon-ok"></i></div>
    </div>
<div class="modal fade useredit" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{$islogin?"用户编辑":"用户注册"}</h4>
            </div>
            <div class="modal-body">
                <form>
                <input type="hidden" name="id" value="{$user.id??0}">
                <div class="form-group">
                <label for="user">帐号:</label>
                    <input type="text" class="form-control"  name="user" placeholder="用户名" value="{$user.user??''}" {$islogin?"disabled":""}>
                </div>
                <div class="form-group">
                    <label for="pass">密码:</label>
                    <input type="password" class="form-control" name="pass" placeholder="密码" value="">
                </div>
                <div class="form-group">
                    <label for="ftsckey">ftsckey</label>
                    <input type="text" class="form-control" id="ftsckey" name="ftsckey" value="{$user.ftsckey??''}">
                    <p class="help-block">请到http://sc.ftqq.com/?c=wechat&a=bind绑定微信 然后 首页 获取 sckey</p>
                </div>
                <div class="form-group">
                    <label for="tgsckey">tgsckey</label>
                    <input type="text" class="form-control" id="tgsckey" name="tgsckey" value="{$user.tgsckey??''}">
                    <p class="help-block">https://t.me/VpsStockBot 添加 获取 sckey</p>
                </div>
                {if condition="$iscaptcha and !isset($user.id)"}
                <div class="form-group">
                    <label for="tgsckey">验证码</label>
                    <input type="text" class="form-control" id="captcha" name="captcha" value="">
                    <div><img src="{:captcha_src()}" alt="captcha" /></div>
                </div>
                {/if}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary btn-success" onclick="usersavedata()">注册</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade login" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">用户登录</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                    <label for="user">帐号:</label>
                        <input type="text" class="form-control" name="user" placeholder="用户名">
                    </div>
                    <div class="form-group">
                        <label for="pass">密码:</label>
                        <input type="password" class="form-control"  name="pass" placeholder="密码">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary btn-success" onclick="loginpost()">登录</button>
            </div>
        </div>
    </div>
</div>
<style>
#table td{vertical-align:middle;text-align:center;}
</style>
    <script>
        function bandwidth(value,row,index){
            return value + "M";
        }
        function stock(value,row,index){
            return value==0?'<p class="btn btn-danger btn-sm">缺货</p>':'<p class="btn btn-success btn-sm">有货</p>';
        }
        function buy(value,row,index){
			if (row.buy != null && row.buy != ""){
				return "<a href='buy/"+row.id+"' class='btn btn-primary btn-sm' target='_blank'>购买链接</a>";
			}
            return "<a class='btn btn-primary btn-sm'>暂无购链</a>";
        }
        function ceping(value,row,index){
			if (row.ceping != null && row.ceping != ""){
				return "<a href='ceping/"+row.id+"' class='btn btn-info btn-sm' target='_blank'>介绍&测评</a>";
			}
            return "<a class='btn btn-info btn-sm'>暂无测评</a>";
        }
        function company(value,row,index){
            return "<a href='company/"+row.companyid+"' target='_blank'>"+row.companyname+"</a>";
        }
        function subscribe(value,row,index){
            var dingstr = "{$user.subscribe??''}";
            if (dingstr != ""){
                var ding = dingstr.split(",");
                if ($.inArray(""+row.id,ding) != -1){
                    return "<span class='btn btn-success btn-sm'>已订阅</span>";
                }
                return "<span class='btn btn-danger btn-sm'>未订阅</span>";
            }
            return "<span class='btn btn-danger btn-sm'>未订阅</span>";
        }
        window.subscribeevent = {
            'click span': function (e, value, row, index) {
                _this = $(this);
                $.ajax({
                    url:"/index/index/subscribe",
                    data:{id:row.id},
                    type:"POST",
                    dataType:"json",
                    success:function(re){
                        if (re.status==1){
                            if (_this.html() == "未订阅"){
                                _this.html("已订阅");
                                alert("订阅成功");
                            }else{
                                _this.html("未订阅");
                                alert("退订成功");
                            }
                            return;
                        }
                        alert("未知错误");
                    }
                })
            }
        };

        $('#table').bootstrapTable({
            customSort:function(sortName, sortOrder){
                var that = this,
                name = sortName,
                order = sortOrder === 'desc' ? -1 : 1,
                index = $.inArray(sortName, this.header.fields);
                if (index !== -1) {
                    if (this.options.sortStable) {
                        $.each(this.data, function (i, row) {
                            if (!row.hasOwnProperty('_position')) row._position = i;
                        });
                    }
                    var getItemField = function (item, field, escape) {
                        var value = item;

                        if (typeof field !== 'string' || item.hasOwnProperty(field)) {
                            return escape ? escapeHTML(item[field]) : item[field];
                        }
                        var props = field.split('.');
                        for (var p in props) {
                            value = value && value[props[p]];
                        }
                        return escape ? escapeHTML(value) : value;
                    };
                    var calculateObjectValue = function (self, name, args, defaultValue) {
                        var func = name;

                        if (typeof name === 'string') {
                            // support obj.func1.func2
                            var names = name.split('.');

                            if (names.length > 1) {
                                func = window;
                                $.each(names, function (i, f) {
                                    func = func[f];
                                });
                            } else {
                                func = window[name];
                            }
                        }
                        if (typeof func === 'object') {
                            return func;
                        }
                        if (typeof func === 'function') {
                            return func.apply(self, args);
                        }
                        if (!func && typeof name === 'string' && sprintf.apply(this, [name].concat(args))) {
                            return sprintf.apply(this, [name].concat(args));
                        }
                        return defaultValue;
                    };
                    this.data.sort(function (a, b) {

                        if (that.header.sortNames[index]) {
                            name = that.header.sortNames[index];
                        }
                        var aa = getItemField(a, name, that.options.escape),
                            bb = getItemField(b, name, that.options.escape),
                            value = calculateObjectValue(that.header, that.header.sorters[index], [aa, bb]);

                        if (value !== undefined) {
                            return order * value;
                        }

                        // Fix #161: undefined or null string sort bug.
                        if (aa === undefined || aa === null) {
                            aa = '';
                        }
                        if (bb === undefined || bb === null) {
                            bb = '';
                        }

                        if (that.options.sortStable && aa === bb) {
                            aa = a._position;
                            bb = b._position;
                        }

                        // IF both values are numeric, do a numeric comparison
                        if ($.isNumeric(aa) && $.isNumeric(bb) || $.inArray(name,["flow","bandwidth","disk"])>=0 ) {
                            // Convert numerical values form string to float.
                            aa = parseFloat(aa);
                            bb = parseFloat(bb);
                            if (aa < bb) {
                                return order * -1;
                            }
                            return order;
                        }

                        if (aa === bb) {
                            return 0;
                        }

                        // If value is not a string, convert to string
                        if (typeof aa !== 'string') {
                            aa = aa.toString();
                        }

                        if (aa.localeCompare(bb) === -1) {
                            return order * -1;
                        }

                        return order;
                    });
                }
                console.log(this.data);
                return ;
            }
        });

        function useredit(){
            $(".useredit").modal('show');
        }
        function loginshow(){
            $(".login").modal('show');
        }
        function loginout(){
            $.ajax({
                url:"/index/index/loginout",
                success:function(){
                    window.location.reload();
                }
            })
        }

        function loginpost(){
            $.ajax({
                url:"/index/index/login",
                data:$(".login form").serialize(),
                type:"POST",
                dataType:"json",
                success:function(re){
                    if (re.status==1){
                        window.location.reload();
                        return;
                    }
                    alert("帐号或密码错误.请重试！");
                }
            })
        }
        function usersavedata(){
            $.ajax({
                url:"/index/index/usersavedata",
                data:$(".useredit form").serialize(),
                type:"POST",
                dataType:"json",
                success:function(re){
                    if (re.status == 0){
                        alert("帐号已存在,请更改其他重试。")
                        return ;
                    }
                    if (re.status == 2){
                        alert("验证码错误。")
                        return ;
                    }
                    window.location.reload();
                }
            })

        }

		$(document).ready(function(){
			$("#table th").each(function(){
				if ($(this).find(".fht-cell select").length>0){
					$width = $(this).width();
					$(this).find(".fht-cell select option").eq(0).html($(this).find(".th-inner").html());
					$(this).find(".th-inner").remove();
					$(this).css({verticalAlign:"top",paddingTop:"8px"});
					//$(this).find("select").width($width);
				}
				if ($(this).find(".fht-cell input").length>0){
					$width = $(this).width();
					$(this).find(".fht-cell input").attr("placeholder",$(this).find(".th-inner").html());
					$(this).find(".th-inner").remove();
					$(this).css({verticalAlign:"top",paddingTop:"8px"});
					//$(this).find("input").width($width);
				}
				if ($(this).find(".fht-cell>div").length>0 && $(this).find(".fht-cell>div").html() == ""){
					$(this).find(".fht-cell").remove();
				}
			});
		});
    </script>
</body>
</html>
