<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vps库存监控</title>
    <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdn.bootcss.com/bootstrap-table/1.11.1/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>
</head>
<body>

    
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="inline-block"> <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star"></span> VPS库存监控系统 <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star"></span></h1><span>实时把握库存信息</span>
               
            </div>

        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
				<div id="toolbar" class="btn-group">
					<a class="btn btn-success btn-sm" aria-hidden="true" href="/index/index/edit"> <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>    添加监控</a>
					{if condition="$islogin"}
					<a onclick="useredit()" class="btn btn-info btn-sm" role="button"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span>    个人信息</a>
					<a onclick="loginout()" class="btn btn-warning btn-sm" role="button"> <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>    退出登录</a>
					{else/}
					<a onclick="useredit()" class="btn btn-info btn-sm" role="button"> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>    注册用户</a>
					<a onclick="loginshow()" class="btn btn-primary btn-sm" role="button"> <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>    账户登录</a>
					{/if}
				</div>
                <table id="table"
                    data-toolbar="#toolbar"
                    data-search="false"
                    data-show-refresh="true"
                    data-show-toggle="true"
                    data-show-columns="true"
                    data-show-export="true"
                    data-detail-view="false"
                    data-detail-formatter="detailFormatter"
                    data-minimum-count-columns="2"
                    data-show-pagination-switch="true"
                    data-pagination="true"
                    data-id-field="id"
                    data-page-list="[10, 25, 50, 100, ALL]"
                    data-show-footer="false"
                    data-side-pagination="server"
                    data-url="{:url('index/index/getList?')}"
                    data-filter-control="true"
                    data-filter-show-clear="true"
                    class="table table-striped table-condensed"
                >
                    <thead>
                        <tr>
                            {if condition="$islogin"}<th data-width="50" data-formatter="subscribe" data-events="subscribeevent">订阅</th>{/if}
                            <th data-width="50" data-field="companyname" data-formatter="company" data-filter-control="select">服务商</th>
                            <th data-width="50" data-field="name" >套餐名</th>
                            <th data-width="50" data-field="frame"  data-sortable="true">虚拟化</th>
                            <th data-width="50" data-field="ram" data-sortable="true">内存</th>
                            <th data-width="50" data-field="disk" data-sortable="true">硬盘</th>
                            <th data-width="50" data-field="cpu" data-sortable="true">CPU</th>
                            <th data-width="50" data-field="ip4" data-sortable="true">IP4</th>
                            <th data-width="50" data-field="ip6" data-sortable="true">IP6</th>
                            <th data-width="50" data-field="placename" data-filter-control="select">地理位置</th>
                            <th data-width="50" data-field="flow" data-sortable="true">流量</th>
                            <th data-width="50" data-field="bandwidth" data-sortable="true" data-formatter="bandwidth">带宽</th>
                            <th data-width="50" data-field="route" data-filter-control="select">机房线路</th>
                            <th data-width="50" data-field="yearly" data-sortable="true">年付</th>
                            <th data-width="50" data-field="monthly" data-sortable="true">月付</th>
                            <th data-width="50" data-field="stock" data-sortable="true" data-formatter="stock" data-filter-control="select">库存状态</th>
                            <th data-width="50" data-field="remark" data-sortable="true" data-filter-control="input">备注</th>
                            <th data-width="50" data-formatter="ceping" >介绍&测评</th>
                            <th data-width="50" data-formatter="buy">购买</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="text-center">本站基于开源项目 <a href="https://github.com/546669204/vps-inventory-monitoring">vps-inventory-monitoring</a> <i class="glyphicon glyphicon-ok"></i></div>
    </div>
<div class="modal fade useredit" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{$islogin?"用户编辑":"用户注册"}</h4>
            </div>
            <div class="modal-body">
                <form>
                <input type="hidden" name="id" value="{$user.id??0}">
                <div class="form-group">
                <label for="user">帐号:</label>
                    <input type="text" class="form-control"  name="user" placeholder="用户名" value="{$user.user??''}" {$islogin?"disabled":""}>
                </div>
                <div class="form-group">
                    <label for="pass">密码:</label>
                    <input type="password" class="form-control" name="pass" placeholder="密码" value="">
                </div>
                <div class="form-group">
                    <label for="ftsckey">ftsckey</label>
                    <input type="text" class="form-control" id="ftsckey" name="ftsckey" value="{$user.ftsckey??''}">
                    <p class="help-block">请到http://sc.ftqq.com/?c=wechat&a=bind绑定微信 然后 首页 获取 sckey</p>
                </div>
                <div class="form-group">
                    <label for="tgsckey">tgsckey</label>
                    <input type="text" class="form-control" id="tgsckey" name="tgsckey" value="{$user.tgsckey??''}">
                    <p class="help-block">https://t.me/VpsStockBot 添加 获取 sckey</p>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary btn-success" onclick="usersavedata()">保存</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade login" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">用户登录</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                    <label for="user">帐号:</label>
                        <input type="text" class="form-control" name="user" placeholder="用户名">
                    </div>
                    <div class="form-group">
                        <label for="pass">密码:</label>
                        <input type="password" class="form-control"  name="pass" placeholder="密码">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary btn-success" onclick="loginpost()">登录</button>
            </div>
        </div>
    </div>
</div>
<style>
#table td{vertical-align:middle;text-align:center;}
</style>
    <script>

        function bandwidth(value,row,index){
            return value + "M";
        }
        function stock(value,row,index){
            return value==0?'<p class="btn btn-danger btn-sm">缺货</p>':'<p class="btn btn-success btn-sm">有货</p>';
        }
        function buy(value,row,index){
            return "<a href='buy/"+row.id+"' class='btn btn-primary btn-sm'>购买链接</a>";
        }
        function ceping(value,row,index){
            return "<a href='ceping/"+row.id+"' class='btn btn-info btn-sm'>介绍&测评</a>";
        }
        function company(value,row,index){
            return "<a href='company/"+row.companyid+"'>"+row.companyname+"</a>";
        }
        function subscribe(value,row,index){
            var dingstr = "{$user.subscribe??''}";
            if (dingstr != ""){
                var ding = dingstr.split(",");
                if ($.inArray(""+row.id,ding) != -1){
                    return "<span class='btn btn-success btn-sm'>已订阅</span>";
                }
                return "<span class='btn btn-danger btn-sm'>未订阅</span>";
            }
            return "<span class='btn btn-danger btn-sm'>未订阅</span>";
        }
        window.subscribeevent = {
            'click span': function (e, value, row, index) {
                _this = $(this);
                $.ajax({
                    url:"/index/index/subscribe",
                    data:{id:row.id},
                    type:"POST",
                    dataType:"json",
                    success:function(re){
                        if (re.status==1){
                            if (_this.html() == "未订阅"){
                                _this.html("已订阅");
                                alert("订阅成功");
                            }else{
                                _this.html("未订阅");
                                alert("退订成功");
                            }
                            return;
                        }
                        alert("未知错误");
                    }
                })
            }
        };

        $('#table').bootstrapTable({
            
        });

        function useredit(){
            $(".useredit").modal('show');
        }
        function loginshow(){
            $(".login").modal('show');
        }
        function loginout(){
            $.ajax({
                url:"/index/index/loginout",
                success:function(){
                    window.location.reload();
                }
            })
        }

        function loginpost(){
            $.ajax({
                url:"/index/index/login",
                data:$(".login form").serialize(),
                type:"POST",
                dataType:"json",
                success:function(re){
                    if (re.status==1){
                        window.location.reload();
                        return;
                    }
                    alert("帐号或密码错误.请重试！");
                }
            })
        }
        function usersavedata(){
            $.ajax({
                url:"/index/index/usersavedata",
                data:$(".useredit form").serialize(),
                type:"POST",
                dataType:"json",
                success:function(re){
                    if (re.status == 0){
                        alert("帐号已存在,请更改其他重试.")
                        return ;
                    }
                    window.location.reload();
                }
            })
            
        }
		
		$(document).ready(function(){
			$("#table th").each(function(){
				if ($(this).find(".fht-cell select").length>0){	
					$width = $(this).width();
					$(this).find(".fht-cell select option").eq(0).html($(this).find(".th-inner").html());
					$(this).find(".th-inner").remove();
					$(this).css({verticalAlign:"top",paddingTop:"8px"});
					//$(this).find("select").width($width);
				}
				if ($(this).find(".fht-cell input").length>0){	
					$width = $(this).width();
					$(this).find(".fht-cell input").attr("placeholder",$(this).find(".th-inner").html());
					$(this).find(".th-inner").remove();
					$(this).css({verticalAlign:"top",paddingTop:"8px"});
					//$(this).find("input").width($width);
				}
				if ($(this).find(".fht-cell>div").length>0 && $(this).find(".fht-cell>div").html() == ""){	
					$(this).find(".fht-cell").remove();
				}
			});
		});
    </script>
</body>
</html>